    <!-- Contact Start -->
    <div class="container-xxl py-6">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
            <div class="position-relative h-100">
              <iframe class="position-relative w-100 h-100"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1498939.1500706952!2d-9.138765413985444!3d42.796477148096315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e7c868908156b%3A0xe1ac7930138c9642!2sGalicia!5e0!3m2!1ses!2ses!4v1654167738146!5m2!1ses!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <h6 class="text-primary text-uppercase mb-2">{{'cita.tituloCtn' | translate}}</h6>
            <h1 class="display-6 mb-4">{{'cita.2tituloCtn' | translate}}</h1>
            <form>
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control border-0 bg-light" id="name" placeholder="Tu nombre">
                    <label for="name">{{'cita.placeholderName' | translate}}</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="email" class="form-control border-0 bg-light" id="email" required
                      placeholder="Tu correo">
                    <label for="email">{{'footer.placeholder' | translate}}</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control border-0 bg-light" id="subject" placeholder="Tema">
                    <label for="subject">{{'cita.placeholderTema' | translate}}</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control border-0 bg-light" placeholder="Deja un mensaje aquí" id="message"
                      style="height: 150px"></textarea>
                    <label for="message">{{'cita.placeholderMSG' | translate}}</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary py-3 px-5" type="submit">{{'cita.btnMsg' | translate}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->
