<!-- About Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
          <img class="position-absolute w-100 h-100" src="assets/img/about-1.jpg" alt="" style="object-fit: cover;">
          <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="assets/img/about-2.jpg" alt=""
            style="width: 200px; height: 200px;">
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <h6 class="text-primary text-uppercase mb-2">{{ 'nosotros.cabezal' | translate}}</h6>
          <h1 class="display-6 mb-4">{{ 'nosotros.main' | translate}}</h1>
          <p>{{ 'nosotros.cuerpo1' | translate}}</p>
          <p class="mb-4">{{ 'nosotros.cuerpo2' | translate}}</p>
          <div class="row g-2 mb-4 pb-2">
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-2"></i>{{ 'nosotros.check1' | translate}}
            </div>
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-2"></i>{{ 'nosotros.check2' | translate}}
            </div>
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-2"></i>{{ 'nosotros.check3' | translate}}
            </div>
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-2"></i>{{ 'nosotros.check4' | translate}}
            </div>
          </div>
          <div class="row g-4">
            <div class="col-sm-6">
              <a class="btn btn-primary py-3 px-5" href="">{{ 'nosotros.btncheck' | translate}}</a>
            </div>
            <div class="col-sm-6">
              <a class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
                href="tel:+0123456789">
                <span class="flex-shrink-0 btn-square bg-primary">
                  <i class="fa fa-phone-alt text-white"></i>
                </span>
                <span class="px-3">+012 345 6789</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->


    <!-- Team Start -->
    <div class="container-xxl py-6">
      <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h6 class="text-primary text-uppercase mb-2">Conoce a nuestro equipo</h6>
          <h1 class="display-6 mb-4">Con gran experiencia sobre naturaleza</h1>
        </div>
        <div class="row g-0 team-items">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let miembro of grupo.equipo">
            <div class="team-item position-relative">
              <div class="position-relative">
                <img class="img-fluid" src="{{miembro.imagen}}" alt="">
                <div class="team-social text-center">
                  <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i
                      class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i
                      class="fab fa-instagram"></i></a>
                </div>
              </div>
              <div class="bg-light text-center p-4">
                <h5 class="mt-2">{{miembro.nombre}}</h5>
                <span>{{miembro.profesion}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team End -->
