<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-4">{{ 'footer.titulo1' | translate}}</h4>
        <h2 class="text-primary mb-4"><i class="fa fa-car text-white me-2"></i>TNG S.L</h2>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{{ 'encabezado.dirección' | translate}}</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">{{ 'footer.titulo2' | translate}}</h4>
        <a routerLink="/about" class="btn btn-link">{{ 'encabezado.nosotros' | translate}}</a>
        <a routerLink="/contact" class="btn btn-link">{{ 'encabezado.contacto' | translate}}</a>
        <a routerLink="/courses" class="btn btn-link">{{ 'footer.enlace1' | translate}}</a>
        <a routerLink="/error" class="btn btn-link">{{ 'footer.enlace2' | translate}}</a>
        <a routerLink="/" class="btn btn-link">{{ 'footer.enlace3' | translate}}</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">{{ 'footer.titulo3' | translate}}</h4>
        <a routerLink="/about" class="btn btn-link">{{ 'encabezado.nosotros' | translate}}</a>
        <a routerLink="/contact" class="btn btn-link">{{ 'encabezado.contacto' | translate}}</a>
        <a routerLink="/courses" class="btn btn-link">{{ 'footer.enlace1' | translate}}</a>
        <a routerLink="/error"  class="btn btn-link">{{ 'footer.enlace2' | translate}}</a>
        <a routerLink="/" class="btn btn-link">{{ 'footer.enlace3' | translate}}</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">{{ 'footer.titulo4' | translate}}</h4>
        <form action="">
          <div class="input-group">
            <input type="text" class="form-control p-3 border-0" placeholder="{{ 'footer.placeholder' | translate}}">
            <button class="btn btn-primary">{{ 'footer.btnRegis' | translate}}</button>
          </div>
        </form>
        <h6 class="text-white mt-4 mb-3">{{ 'footer.social' | translate}}</h6>
        <div class="d-flex pt-2">
          <a class="btn btn-square btn-outline-light me-1" href="https://twitter.com/?lang=es"><i
              class="fab fa-twitter"></i></a>
          <a class="btn btn-square btn-outline-light me-1" href="https://es-es.facebook.com/"><i
              class="fab fa-facebook-f"></i></a>
          <a class="btn btn-square btn-outline-light me-1" href="https://www.youtube.com/"><i
              class="fab fa-youtube"></i></a>
          <a class="btn btn-square btn-outline-light me-0" href="https://es.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Back to Top -->
<a (click)="scrollToTop()" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
<!-- Footer End -->
